/.DS_Store
/.vscode

spotify_project/frontend/node_modules/@material-ui/lab/index.d.ts
spotify_project/api/__pycache__/serializers.cpython-39.pyc
spotify_project/api/__pycache__/urls.cpython-39.pyc
spotify_project/api/__pycache__/views.cpython-39.pyc
spotify_project/frontend/package-lock.json
spotify_project/frontend/package.json
spotify_project/frontend/node_modules/@material-ui/lab/CHANGELOG.md
spotify_project/frontend/node_modules/@material-ui/lab/index.js
spotify_project/frontend/node_modules/@material-ui/lab/LICENSE
spotify_project/frontend/node_modules/@material-ui/lab/package.json
spotify_project/frontend/node_modules/@material-ui/lab/README.md
spotify_project/frontend/node_modules/@material-ui/lab/Alert/Alert.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/Alert/Alert.js
spotify_project/frontend/node_modules/@material-ui/lab/Alert/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/Alert/index.js
spotify_project/frontend/node_modules/@material-ui/lab/Alert/package.json
spotify_project/frontend/node_modules/@material-ui/lab/AlertTitle/AlertTitle.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/AlertTitle/AlertTitle.js
spotify_project/frontend/node_modules/@material-ui/lab/AlertTitle/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/AlertTitle/index.js
spotify_project/frontend/node_modules/@material-ui/lab/AlertTitle/package.json
spotify_project/frontend/node_modules/@material-ui/lab/Autocomplete/Autocomplete.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/Autocomplete/Autocomplete.js
spotify_project/frontend/node_modules/@material-ui/lab/Autocomplete/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/Autocomplete/index.js
spotify_project/frontend/node_modules/@material-ui/lab/Autocomplete/package.json
spotify_project/frontend/node_modules/@material-ui/lab/AvatarGroup/AvatarGroup.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/AvatarGroup/AvatarGroup.js
spotify_project/frontend/node_modules/@material-ui/lab/AvatarGroup/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/AvatarGroup/index.js
spotify_project/frontend/node_modules/@material-ui/lab/AvatarGroup/package.json
spotify_project/frontend/node_modules/@material-ui/lab/es/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/Alert/Alert.js
spotify_project/frontend/node_modules/@material-ui/lab/es/Alert/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/AlertTitle/AlertTitle.js
spotify_project/frontend/node_modules/@material-ui/lab/es/AlertTitle/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/Autocomplete/Autocomplete.js
spotify_project/frontend/node_modules/@material-ui/lab/es/Autocomplete/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/AvatarGroup/AvatarGroup.js
spotify_project/frontend/node_modules/@material-ui/lab/es/AvatarGroup/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/internal/svg-icons/Add.js
spotify_project/frontend/node_modules/@material-ui/lab/es/internal/svg-icons/ArrowDropDown.js
spotify_project/frontend/node_modules/@material-ui/lab/es/internal/svg-icons/Close.js
spotify_project/frontend/node_modules/@material-ui/lab/es/internal/svg-icons/ErrorOutline.js
spotify_project/frontend/node_modules/@material-ui/lab/es/internal/svg-icons/FirstPage.js
spotify_project/frontend/node_modules/@material-ui/lab/es/internal/svg-icons/InfoOutlined.js
spotify_project/frontend/node_modules/@material-ui/lab/es/internal/svg-icons/LastPage.js
spotify_project/frontend/node_modules/@material-ui/lab/es/internal/svg-icons/NavigateBefore.js
spotify_project/frontend/node_modules/@material-ui/lab/es/internal/svg-icons/NavigateNext.js
spotify_project/frontend/node_modules/@material-ui/lab/es/internal/svg-icons/ReportProblemOutlined.js
spotify_project/frontend/node_modules/@material-ui/lab/es/internal/svg-icons/Star.js
spotify_project/frontend/node_modules/@material-ui/lab/es/internal/svg-icons/SuccessOutlined.js
spotify_project/frontend/node_modules/@material-ui/lab/es/Pagination/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/Pagination/Pagination.js
spotify_project/frontend/node_modules/@material-ui/lab/es/Pagination/usePagination.js
spotify_project/frontend/node_modules/@material-ui/lab/es/PaginationItem/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/PaginationItem/PaginationItem.js
spotify_project/frontend/node_modules/@material-ui/lab/es/Rating/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/Rating/Rating.js
spotify_project/frontend/node_modules/@material-ui/lab/es/Skeleton/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/Skeleton/Skeleton.js
spotify_project/frontend/node_modules/@material-ui/lab/es/SpeedDial/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/SpeedDial/SpeedDial.js
spotify_project/frontend/node_modules/@material-ui/lab/es/SpeedDialAction/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/SpeedDialAction/SpeedDialAction.js
spotify_project/frontend/node_modules/@material-ui/lab/es/SpeedDialIcon/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/SpeedDialIcon/SpeedDialIcon.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TabContext/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TabContext/TabContext.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TabList/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TabList/TabList.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TabPanel/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TabPanel/TabPanel.js
spotify_project/frontend/node_modules/@material-ui/lab/es/Timeline/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/Timeline/Timeline.js
spotify_project/frontend/node_modules/@material-ui/lab/es/Timeline/TimelineContext.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TimelineConnector/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TimelineConnector/TimelineConnector.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TimelineContent/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TimelineContent/TimelineContent.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TimelineDot/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TimelineDot/TimelineDot.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TimelineItem/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TimelineItem/TimelineItem.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TimelineItem/TimelineItemContext.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TimelineOppositeContent/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TimelineOppositeContent/TimelineOppositeContent.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TimelineSeparator/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TimelineSeparator/TimelineSeparator.js
spotify_project/frontend/node_modules/@material-ui/lab/es/ToggleButton/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/ToggleButton/ToggleButton.js
spotify_project/frontend/node_modules/@material-ui/lab/es/ToggleButtonGroup/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/ToggleButtonGroup/isValueSelected.js
spotify_project/frontend/node_modules/@material-ui/lab/es/ToggleButtonGroup/ToggleButtonGroup.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TreeItem/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TreeItem/TreeItem.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TreeView/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TreeView/TreeView.js
spotify_project/frontend/node_modules/@material-ui/lab/es/TreeView/TreeViewContext.js
spotify_project/frontend/node_modules/@material-ui/lab/es/useAutocomplete/index.js
spotify_project/frontend/node_modules/@material-ui/lab/es/useAutocomplete/useAutocomplete.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/Alert/Alert.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/Alert/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/AlertTitle/AlertTitle.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/AlertTitle/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/Autocomplete/Autocomplete.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/Autocomplete/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/AvatarGroup/AvatarGroup.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/AvatarGroup/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/internal/svg-icons/Add.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/internal/svg-icons/ArrowDropDown.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/internal/svg-icons/Close.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/internal/svg-icons/ErrorOutline.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/internal/svg-icons/FirstPage.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/internal/svg-icons/InfoOutlined.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/internal/svg-icons/LastPage.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/internal/svg-icons/NavigateBefore.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/internal/svg-icons/NavigateNext.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/internal/svg-icons/ReportProblemOutlined.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/internal/svg-icons/Star.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/internal/svg-icons/SuccessOutlined.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/Pagination/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/Pagination/Pagination.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/Pagination/usePagination.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/PaginationItem/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/PaginationItem/PaginationItem.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/Rating/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/Rating/Rating.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/Skeleton/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/Skeleton/Skeleton.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/SpeedDial/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/SpeedDial/SpeedDial.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/SpeedDialAction/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/SpeedDialAction/SpeedDialAction.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/SpeedDialIcon/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/SpeedDialIcon/SpeedDialIcon.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TabContext/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TabContext/TabContext.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TabList/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TabList/TabList.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TabPanel/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TabPanel/TabPanel.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/Timeline/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/Timeline/Timeline.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/Timeline/TimelineContext.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TimelineConnector/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TimelineConnector/TimelineConnector.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TimelineContent/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TimelineContent/TimelineContent.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TimelineDot/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TimelineDot/TimelineDot.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TimelineItem/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TimelineItem/TimelineItem.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TimelineItem/TimelineItemContext.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TimelineOppositeContent/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TimelineOppositeContent/TimelineOppositeContent.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TimelineSeparator/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TimelineSeparator/TimelineSeparator.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/ToggleButton/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/ToggleButton/ToggleButton.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/ToggleButtonGroup/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/ToggleButtonGroup/isValueSelected.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/ToggleButtonGroup/ToggleButtonGroup.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TreeItem/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TreeItem/TreeItem.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TreeView/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TreeView/TreeView.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/TreeView/TreeViewContext.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/useAutocomplete/index.js
spotify_project/frontend/node_modules/@material-ui/lab/esm/useAutocomplete/useAutocomplete.js
spotify_project/frontend/node_modules/@material-ui/lab/internal/svg-icons/Add.js
spotify_project/frontend/node_modules/@material-ui/lab/internal/svg-icons/ArrowDropDown.js
spotify_project/frontend/node_modules/@material-ui/lab/internal/svg-icons/Close.js
spotify_project/frontend/node_modules/@material-ui/lab/internal/svg-icons/ErrorOutline.js
spotify_project/frontend/node_modules/@material-ui/lab/internal/svg-icons/FirstPage.js
spotify_project/frontend/node_modules/@material-ui/lab/internal/svg-icons/InfoOutlined.js
spotify_project/frontend/node_modules/@material-ui/lab/internal/svg-icons/LastPage.js
spotify_project/frontend/node_modules/@material-ui/lab/internal/svg-icons/NavigateBefore.js
spotify_project/frontend/node_modules/@material-ui/lab/internal/svg-icons/NavigateNext.js
spotify_project/frontend/node_modules/@material-ui/lab/internal/svg-icons/ReportProblemOutlined.js
spotify_project/frontend/node_modules/@material-ui/lab/internal/svg-icons/Star.js
spotify_project/frontend/node_modules/@material-ui/lab/internal/svg-icons/SuccessOutlined.js
spotify_project/frontend/node_modules/@material-ui/lab/Pagination/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/Pagination/index.js
spotify_project/frontend/node_modules/@material-ui/lab/Pagination/package.json
spotify_project/frontend/node_modules/@material-ui/lab/Pagination/Pagination.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/Pagination/Pagination.js
spotify_project/frontend/node_modules/@material-ui/lab/Pagination/usePagination.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/Pagination/usePagination.js
spotify_project/frontend/node_modules/@material-ui/lab/PaginationItem/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/PaginationItem/index.js
spotify_project/frontend/node_modules/@material-ui/lab/PaginationItem/package.json
spotify_project/frontend/node_modules/@material-ui/lab/PaginationItem/PaginationItem.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/PaginationItem/PaginationItem.js
spotify_project/frontend/node_modules/@material-ui/lab/Rating/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/Rating/index.js
spotify_project/frontend/node_modules/@material-ui/lab/Rating/package.json
spotify_project/frontend/node_modules/@material-ui/lab/Rating/Rating.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/Rating/Rating.js
spotify_project/frontend/node_modules/@material-ui/lab/Skeleton/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/Skeleton/index.js
spotify_project/frontend/node_modules/@material-ui/lab/Skeleton/package.json
spotify_project/frontend/node_modules/@material-ui/lab/Skeleton/Skeleton.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/Skeleton/Skeleton.js
spotify_project/frontend/node_modules/@material-ui/lab/SpeedDial/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/SpeedDial/index.js
spotify_project/frontend/node_modules/@material-ui/lab/SpeedDial/package.json
spotify_project/frontend/node_modules/@material-ui/lab/SpeedDial/SpeedDial.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/SpeedDial/SpeedDial.js
spotify_project/frontend/node_modules/@material-ui/lab/SpeedDialAction/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/SpeedDialAction/index.js
spotify_project/frontend/node_modules/@material-ui/lab/SpeedDialAction/package.json
spotify_project/frontend/node_modules/@material-ui/lab/SpeedDialAction/SpeedDialAction.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/SpeedDialAction/SpeedDialAction.js
spotify_project/frontend/node_modules/@material-ui/lab/SpeedDialIcon/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/SpeedDialIcon/index.js
spotify_project/frontend/node_modules/@material-ui/lab/SpeedDialIcon/package.json
spotify_project/frontend/node_modules/@material-ui/lab/SpeedDialIcon/SpeedDialIcon.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/SpeedDialIcon/SpeedDialIcon.js
spotify_project/frontend/node_modules/@material-ui/lab/TabContext/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TabContext/index.js
spotify_project/frontend/node_modules/@material-ui/lab/TabContext/package.json
spotify_project/frontend/node_modules/@material-ui/lab/TabContext/TabContext.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TabContext/TabContext.js
spotify_project/frontend/node_modules/@material-ui/lab/TabList/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TabList/index.js
spotify_project/frontend/node_modules/@material-ui/lab/TabList/package.json
spotify_project/frontend/node_modules/@material-ui/lab/TabList/TabList.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TabList/TabList.js
spotify_project/frontend/node_modules/@material-ui/lab/TabPanel/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TabPanel/index.js
spotify_project/frontend/node_modules/@material-ui/lab/TabPanel/package.json
spotify_project/frontend/node_modules/@material-ui/lab/TabPanel/TabPanel.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TabPanel/TabPanel.js
spotify_project/frontend/node_modules/@material-ui/lab/themeAugmentation/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/themeAugmentation/overrides.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/themeAugmentation/props.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/Timeline/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/Timeline/index.js
spotify_project/frontend/node_modules/@material-ui/lab/Timeline/package.json
spotify_project/frontend/node_modules/@material-ui/lab/Timeline/Timeline.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/Timeline/Timeline.js
spotify_project/frontend/node_modules/@material-ui/lab/Timeline/TimelineContext.js
spotify_project/frontend/node_modules/@material-ui/lab/TimelineConnector/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TimelineConnector/index.js
spotify_project/frontend/node_modules/@material-ui/lab/TimelineConnector/package.json
spotify_project/frontend/node_modules/@material-ui/lab/TimelineConnector/TimelineConnector.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TimelineConnector/TimelineConnector.js
spotify_project/frontend/node_modules/@material-ui/lab/TimelineContent/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TimelineContent/index.js
spotify_project/frontend/node_modules/@material-ui/lab/TimelineContent/package.json
spotify_project/frontend/node_modules/@material-ui/lab/TimelineContent/TimelineContent.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TimelineContent/TimelineContent.js
spotify_project/frontend/node_modules/@material-ui/lab/TimelineDot/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TimelineDot/index.js
spotify_project/frontend/node_modules/@material-ui/lab/TimelineDot/package.json
spotify_project/frontend/node_modules/@material-ui/lab/TimelineDot/TimelineDot.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TimelineDot/TimelineDot.js
spotify_project/frontend/node_modules/@material-ui/lab/TimelineItem/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TimelineItem/index.js
spotify_project/frontend/node_modules/@material-ui/lab/TimelineItem/package.json
spotify_project/frontend/node_modules/@material-ui/lab/TimelineItem/TimelineItem.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TimelineItem/TimelineItem.js
spotify_project/frontend/node_modules/@material-ui/lab/TimelineItem/TimelineItemContext.js
spotify_project/frontend/node_modules/@material-ui/lab/TimelineOppositeContent/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TimelineOppositeContent/index.js
spotify_project/frontend/node_modules/@material-ui/lab/TimelineOppositeContent/package.json
spotify_project/frontend/node_modules/@material-ui/lab/TimelineOppositeContent/TimelineOppositeContent.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TimelineOppositeContent/TimelineOppositeContent.js
spotify_project/frontend/node_modules/@material-ui/lab/TimelineSeparator/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TimelineSeparator/index.js
spotify_project/frontend/node_modules/@material-ui/lab/TimelineSeparator/package.json
spotify_project/frontend/node_modules/@material-ui/lab/TimelineSeparator/TimelineSeparator.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TimelineSeparator/TimelineSeparator.js
spotify_project/frontend/node_modules/@material-ui/lab/ToggleButton/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/ToggleButton/index.js
spotify_project/frontend/node_modules/@material-ui/lab/ToggleButton/package.json
spotify_project/frontend/node_modules/@material-ui/lab/ToggleButton/ToggleButton.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/ToggleButton/ToggleButton.js
spotify_project/frontend/node_modules/@material-ui/lab/ToggleButtonGroup/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/ToggleButtonGroup/index.js
spotify_project/frontend/node_modules/@material-ui/lab/ToggleButtonGroup/isValueSelected.js
spotify_project/frontend/node_modules/@material-ui/lab/ToggleButtonGroup/package.json
spotify_project/frontend/node_modules/@material-ui/lab/ToggleButtonGroup/ToggleButtonGroup.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/ToggleButtonGroup/ToggleButtonGroup.js
spotify_project/frontend/node_modules/@material-ui/lab/TreeItem/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TreeItem/index.js
spotify_project/frontend/node_modules/@material-ui/lab/TreeItem/package.json
spotify_project/frontend/node_modules/@material-ui/lab/TreeItem/TreeItem.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TreeItem/TreeItem.js
spotify_project/frontend/node_modules/@material-ui/lab/TreeView/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TreeView/index.js
spotify_project/frontend/node_modules/@material-ui/lab/TreeView/package.json
spotify_project/frontend/node_modules/@material-ui/lab/TreeView/TreeView.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/TreeView/TreeView.js
spotify_project/frontend/node_modules/@material-ui/lab/TreeView/TreeViewContext.js
spotify_project/frontend/node_modules/@material-ui/lab/useAutocomplete/index.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/useAutocomplete/index.js
spotify_project/frontend/node_modules/@material-ui/lab/useAutocomplete/package.json
spotify_project/frontend/node_modules/@material-ui/lab/useAutocomplete/useAutocomplete.d.ts
spotify_project/frontend/node_modules/@material-ui/lab/useAutocomplete/useAutocomplete.js
spotify_project/frontend/package-lock.json
spotify_project/frontend/package.json
spotify_project/api/__pycache__/views.cpython-39.pyc
spotify_project/api/__pycache__/urls.cpython-39.pyc
spotify_project/api/__pycache__/serializers.cpython-39.pyc
spotify_project/frontend/static/frontend/main.js.LICENSE.txt
spotify_project/frontend/static/frontend/main.js
.gitignore
